language: node_js
os: linux
dist: xenial
node_js:
  - "10"

cache:
  directories:
  - node_modules

install:
  - npm install

script:
  - npm run lint
  - npm run test

after_script:
  - npm run coverage
  - cat coverage/lcov.info | coveralls